.List {
    padding: 1px;
    max-width: 200px;
    /*
  
    */
  }

.Head {
    padding-left: 15%;
}

.UList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    right: 20%;

}

.Items {
    margin: 0;
    padding: 0;
    line-height: 1.25em;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

.Li {
    color: #58a790;
}

.Li a:hover,
.Li a:active,
.Li a:focus {
    color: #1367a4;
    text-decoration: underline dashed;
}

.Link {
    color: #000;
}