.container {
  padding: 0 0.5rem;
  min-height: 10vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 70%;
  min-height: 100vh;
  padding: 1rem 0;
  /*
    padding填充
    定义边框和元素内容的间距
    一个值：所有填充
    两个值：上下、左右
    三个值：上、左右、下
    四个值：上、右、下、左
  */
  flex: 1;
  /*
    该属性为三个属性的简写
    1、flex-grow: 分配剩余空间(使用flex容器大小减去所有flex项的大小)的相对比例
    2、flex-shrink: 
    3、flex-basis: 
    关键字值有auto、initial、none
    全局属性值inherit、initial、unset
    数字 -> 1
    带单位数字 -> 3
    两数字 -> 1 2
    两数字，后一带单位 -> 1 3
    三值 -> 1 2 3
  */
  display: flex;
  flex-direction: column;
  /*
    定义主轴，有(default)row、row-reverse、column、column-reverse
    前两者inline方向延申，后两者block方向
    交叉轴垂直于主轴
  */
  justify-content: center;
  /*
    使元素在主轴上对齐
    flex-start: (default)起始线排列
    flex-end: 终止线开始排列
    center: 在中间排列
    stretch: 
    space-around:
    space-between:
  */
  align-items: center;
  /*
    令元素在交叉轴方向对齐
    stretch: (default)
    flex-start: 
    flex-end: 
    center: 
  */
}

.Header_0 {
  z-index: 1;
  background: inherit;
  overflow: hidden;
  position: sticky; 
  /*
    指定元素在文档中的定位方式;
    static：指定元素使用正常布局行为，top, z-index等等定位属性无效
    relative：相对位置，根据正常位置偏移给定值
    absolute：将元素移出正常文档流, 相对于最近的非static祖先元素定位，否则（该类祖先不存在）相对于ICB（初始包含快）定位
    fixed：类似absolute但包含快为viewport视口
    sticky：根据正常文档流定位，并固定
  */
  top: 0px;
  height: 100px;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  /*

  */
  align-items: center;
  padding: 10px;
  margin: 0px;
  line-height: calc(0em + 0rem);
  width: calc(100% + 0px);
  background-color: #ffffff5c;
}

.Header_left {
  color: #1796d5;
  font-size: 20px;
  padding-left: 1px;
  padding-right: 5%;
  margin: dashed;
}

.Logo {
  text-shadow: 4px 4px 4px rgba(185, 32, 32, 0.5);
}

.Header_right {
  font-size: 15px;
  flex: 1;
  display: flex;
  justify-content: start;
  width: 40%;
}

.sp {
  color: #000000;
  padding-right: 20px;
  display: inline;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  color: #000000;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 6rem;
  padding-bottom: 0%;
  background-color: #fafafa;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 2.5;
  /*
    规定换行后字符的行间距，0则与上一行重合
  */
  font-size: 1.5rem;
}

.code {
  background: #000000;
  color: white;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3rem;
  background-color: #fafafa;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  /*
    设置边框的初始尺寸（未设box-sizing时）
  */
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.card:focus,
.card:active {
  color: #c6822e;
  border-color: #c6822e;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
